.steps-content {
    margin: 24px 20%;
}

.default-supplier-contact {
    margin-bottom: 24px;
}

.is-error {
    border: 1px solid #ff4d4f;
    background-color: #fff;
}
.right-spacing {
    margin-right: 16px;
}